.timer-setting__input-container {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  font-weight: bold;
}

@media (max-width: 576px) {
  .timer-setting__input-container {
    margin-top: 34px;
    font-size: 14px;
  }
}

.timer-setting__input-box {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .timer-setting__input-box {
    margin-right: 0;
  }
}

.timer-setting__input {
  width: 60px;
  height: 35px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 0.6);
  outline: none;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
}

@media (max-width: 576px) {
  .timer-setting__input {
    width: 36px;
    height: 24px;
    font-size: 14px;
  }
}

.timer-setting__input::-webkit-outer-spin-button,
.timer-setting__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timer-setting__confirm-text {
  display: none;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 35px;
  color: var(--third-theme-color);
  text-decoration: underline;
  font-size: 26px !important;
}

@media (max-width: 576px) {
  .timer-setting__confirm-text {
    width: 50px;
    height: 24px;
    font-size: 18px !important;
  }
}

.timer-setting__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.timer-setting__button {
  width: 125px;
  height: 50px;
  margin: 0 20px;
  margin-top: 60px;
  font-size: 32px;
  color: white;
  border-radius: 25px;
  box-shadow: var(--button-shadow);
  -webkit-box-shadow: var(--button-shadow);
  -moz-box-shadow: var(--button-shadow);
}

@media (max-width: 576px) {
  .timer-setting__button {
    width: 78px;
    height: 33px;
    margin-top: 40px;
    font-size: 24px;
  }
}

.timer-setting__button:first-of-type {
  background-color: var(--third-theme-color);
}

.timer-setting__button:last-of-type {
  background-color: #92d050;
}

.timer-setting__button:active:not(.disabled) {
  box-shadow: -8px 8px 5px -3px rgba(0, 0, 0, 0.33) inset;
  -webkit-box-shadow: -8px 8px 5px -3px rgba(0, 0, 0, 0.33) inset;
  -moz-box-shadow: -8px 8px 5px -3px rgba(0, 0, 0, 0.33) inset;
}

.timer-setting__button.disabled {
  background-color: #9e9e9e;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  cursor: default;
}
