/* outline */
.todolist__items-form {
    width: 95%;
    margin-top: 40px;
    /* scroll-bar 추가 */
    max-height: 540px;
    overflow: overlay;

}


#todolist__items li{
    width: 90%;
    height: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 7px;
    
}

/*scroll bar design*/

.todolist__items-form::-webkit-scrollbar {
    background-color: rgb(185, 224, 187);
    border-radius: 6px;
    width: 7px;
    border-radius: 6px;

}

.todolist__items-form::-webkit-scrollbar-thumb {
    background-color: rgb(146, 190, 146);
    width: 7px;
    border-radius: 6px;
}



/* element design */

.itemDiv {
    width: 85%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    box-shadow:  2px 2px 7px gray;
    background-color: transparent; 
}

.itemDiv--checked {
    background-color: rgb(192, 208, 181);
}


/*checkbox      */
.itemCheckboxLabel{
    display:flex;
    position: relative;
    user-select: none;
    margin-left: 15px;
}

.itemCheckbox{
    display: flex;
    width:26px;
    height:26px;
    border: none;
    appearance: none;
    border-radius: 3px;
    box-shadow:  2px 2px 7px gray;
}

.itemCheckbox:checked{
    visibility: hidden;
}

.itemCheckboxIcon{
    display: flex;
    position:absolute;
    left: 3px;
    top: 1px;
    visibility: hidden;
}
.itemCheckbox:not(:checked) + .itemCheckboxIcon--hover{
    display: flex;
    position:absolute;
    visibility:visible;
    color:rgb(82 142 42);
    font-size: 31px;
    cursor: pointer;
}

.itemCheckbox:checked + .itemCheckboxIcon{
    display: flex;
    visibility:visible;
    color:rgb(82 142 42);
    font-size: 31px;
    user-select: none;
}

.itemInput {
    width: 80%;
    height: 30px;
    border:none;
    color: rgba(32, 32, 32, 0.911);
    font-size: 12px;
    font-weight: 600;
    padding-left: 15px;
    background-color: transparent;
}

.itemInput:focus {
    outline-color:rgb(7, 138, 7);
}

.itemInput--checked {
    color:rgb(117, 116, 116)
}


.itemBtn--edit,.itemBtn--delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background-color: rgb(182 227 162);
}

.itemBtn--delete {
    margin-right: 5px;
}

.item__edit-btn, .item__delete-btn {
    color: rgb(82 142 42);
    font-size: 5px;
    user-select: none;
}

