@import url("mainInput/addToDo.css");
@import url("toDoItems/toDoItems.css");

/* code */

::selection {
  background-color: rgb(146, 180, 146);
  color:white;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.todolist {
  background-image: url('../../res/imgs/decoration_05.jpg');
  background-size: cover;
  background-position: center center;
}
