@import url("mainInput/mainInput.css");
@import url("toDoItems/toDoItems.css");
@import url("toDoItems/toDoHandlers/checkToDo/checkToDo.css");
@import url("toDoItems/toDoHandlers/editToDo/editToDo.css");

/* code */

::selection {
  background-color: rgb(146, 180, 146);
  color:white;
}


/* .todolist {
  background-image: url('../../res/imgs/decoration_05.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 750px;
  background-color: #fff;
  border-radius: 70px;
} */

.todolist__title {
  margin-top: 25px;
  font-family:'Times New Roman', Times, serif;
  color: rgb(38, 38, 38);
  font-size: 28px;
  font-weight: 600;
}

@media (max-width: 576px) {
  .todolist__title {
    margin-top: 15px;
    font-size: 22px;
  }
}
