.title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: blue;
  margin: 20px 40px;
  font-weight: bold;
  margin-bottom: 200px;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pomodoro__title {
  font-size: 24px;
  color: tomato;
}

.todolist__title {
  font-size: 24px;
  color: brown;
}
