@import "header.css";

body {
  margin: 0 50px;
  height: 100%;
  font-family: "Times New Roman", Times, Arial, Helvetica, sans-serif;
  background-image: url("/src/res/imgs/main-bg_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    margin: 0 20px;
  }
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 53px;
}

@media (max-width: 1120px) {
  .main {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  .main {
    margin-top: 0px;
    padding-bottom: 150px;
  }
}

.section {
  width: 500px;
  aspect-ratio: 1 / 1.5;
}

@media (max-width: 576px) {
  .section {
    width: 300px;
  }
}

.todolist {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  background-image: url("/src/res/imgs/todolist-bg_1.jpg");
  border-radius: 20px;
}

@media (max-width: 1120px) {
  .todolist {
    margin-top: 100px;
  }
}

@media (max-width: 576px) {
  .todolist {
    margin-top: 290px;
  }
}
