@import url("./timer-setting/timerSetting.css");
@import url("./timer/timer.css");
@import url("./timer/timer-button/timerButton.css");
@import url("./timer/progress-bar/progressBar.css");
@import url("./brainwave/brainwave.css");

.pomodoro__section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  position: relative;
}

@media (max-width: 1120px) {
  .pomodoro__section {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .pomodoro__section {
    height: 510px;
  }
}

.pomodoro {
  overflow: hidden;
}

.pomodoro__slider {
  display: flex;
  align-items: center;
  width: 1000px;
  aspect-ratio: 1 / 0.53;
  position: relative;
  overflow: hidden;
}

@media (max-width: 576px) {
  .pomodoro__slider {
    width: 600px;
  }
}

.pomodoro__slide {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
  border-radius: 10%;
  background-image: url("/src/res/imgs/pomodoro-bg_1.jpg");
  position: relative;
  z-index: 0;
}

@media (max-width: 576px) {
  .pomodoro__slide {
    width: 300px;
    padding: 20px 30px;
  }
}

.pomodoro__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  font-size: 48px !important;
  color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 576px) {
  .pomodoro__arrow {
    font-size: 24px !important;
  }
}

.pomodoro__arrow:hover {
  color: rgba(0, 0, 0, 0.7);
}

.arrow__next {
  right: 0%;
}

@media (max-width: 576px) {
  .arrow__next {
    right: -5px;
  }
}

.arrow__prev {
  left: 10px;
}

.pomodoro__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 576px) {
  .pomodoro__title {
    font-size: 22px;
  }
}

.hidden {
  visibility: hidden;
}
